{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <div id="header">
    <span class="logo">Good Shepard Food Pantry</span>
    {% if request.user.is_authenticated %}
  <ul class="menu">
    <li {% if section == "home" %}class="selected"{% endif %}>
      <a href="{% url "home" %}">Home</a>
    </li>
    <li {% if section == "client registration" %}class="selected"{% endif %}>
      <a href="#">Client Registration</a>
    </li>
    <li {% if section == "client search" %}class="selected"{% endif %}>
      <a href="#">Client Search</a>
    </li>
    <li {% if section == "checkout" %}class="selected"{% endif %}>
      <a href="#">Client Checkout</a>
    </li>
    <li {% if section == "inventory" %}class="selected"{% endif %}>
      <a href="#">Inventory</a>
    </li>
    <li {% if section == "reporting" %}class="selected"{% endif %}>
      <a href="#">Reporting</a>
    </li>
  </ul>
{% endif %}

<span class="user">
  {% if request.user.is_authenticated %}
    Hello {{ request.user.first_name }},
    <a href="{% url "logout" %}">Logout</a>
  {% else %}
    <a href="{% url "login" %}">Log-in</a>
  {% endif %}
</span>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
