{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Good Shepherd Food Pantry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/fullwidth.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color:#D2EAFA;
            font-size: 1.3em !important;
            font-weight: bold;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: red;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #777;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body id="app-layout">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">



                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'portfolio:home' %}">Home</a></li>
                <li><a href="{% url 'portfolio:client_list' %}">Clients</a></li>
                <li><a href="{% url 'portfolio:visit_list' %}">Visits</a></li>
                <li><a href="{% url "shop:product_list" %}">Shop</a></li>
                <li><a href="{% url "cart:cart_detail" %}">Cart</a></li>
                <li><a href="{% url "orders:order_create" %}">Checkout</a></li>
                <!-- <li><a href="{% url 'portfolio:item_list' %}">Inventory</a></li> -->
                <li><a href="{% url 'portfolio:employee_list' %}">Employees</a></li>
                <li><a href="{% url 'portfolio:donor_list' %}">Donors</a></li>
                <li><a href="{% url 'portfolio:account_settings_list' %}">Account Settings</a></li>
                <li>
                  <a href="{% url "logout" %}">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-10">
            {% block content %}
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">


                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/client.jpg" %}" alt="Client"/>
                              <div class="caption">
                                  <h2>Clients</h2>
                                  <p>Add, edit, or delete clients</p>
                                  {% if user.is_authenticated %}
                                      <p><a class="btn btn-default" href="{% url 'portfolio:client_list' %}"
                                            role="button">View
                                          details &raquo;</a></p>
                                  {% endif %}
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/visit.jpg" %}" alt="Visits"/>
                              <div class="caption">
                                  <h2>Visits</h2>
                                  <p>Add, edit, or delete visits</p>
                                  <p><a class="btn btn-default" href="{% url 'portfolio:visit_list' %}"
                                         role="button">View
                                      details &raquo;</a></p>
                              </div>
                          </div>
                        </div>

                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/shop.jpg" %}" alt="Shop"/>
                              <div class="caption">
                                  <h2>Shop</h2>
                                  <p>Browse current inventory</p>
                                  <p><a class="btn btn-default" href="{% url "shop:product_list" %}"
                                         role="button">View
                                      details &raquo;</a></p>
                              </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/cart.jpg" %}" alt="Cart"/>
                                <div class="caption">
                                    <h2>Cart</h2>
                                    <p>Review selected products</p>
                                    <p><a class="btn btn-default" href="{% url "cart:cart_detail" %}"
                                           role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-3">
                              <div class="thumbnail">
                                  <img src="{% static "images/checkout.jpg" %}" alt="Checkout"/>
                                  <div class="caption">
                                      <h2>Checkout</h2>
                                      <p>Inventory Management</p>
                                      <p><a class="btn btn-default" href="{% url "orders:order_create" %}"
                                             role="button">View
                                          details &raquo;</a></p>
                                  </div>
                              </div>
                            </div>

                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/employees.jpg" %}" alt="Employee"/>
                              <div class="caption">
                                  <h2>Employees</h2>
                                  <p>View food pantry employees</p>
                                  <p><a class="btn btn-default" href="{% url 'portfolio:employee_list' %}"
                                         role="button">View
                                      details &raquo;</a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/donor.jpg" %}" alt="Donor"/>
                              <div class="caption">
                                  <h2>Donors</h2>
                                  <p>View food pantry donors</p>
                                  <p><a class="btn btn-default" href="{% url 'portfolio:donor_list' %}" role="button">View
                                      details &raquo;</a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="thumbnail">
                              <img src="{% static "images/setting.jpg" %}" alt="Account Settings"/>
                              <div class="caption">
                                  <h2>Settings</h2>
                                  <p>Edit account settings</p>
                                  <p><a class="btn btn-default" href="{% url 'portfolio:account_settings_list' %}"
                                         role="button">View
                                      details &raquo;</a></p>
                              </div>
                          </div>
                        </div>


                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>
