{% extends 'portfolio/base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Good Shepherd Food Pantry</title>
    </head>
    <body>

<script>
$(document).ready(function(){
    $('.search').on('keyup',function(){
        var searchTerm = $(this).val().toLowerCase();
        $('#userTbl tbody tr').each(function(){
            var lineStr = $(this).text().toLowerCase();
            if(lineStr.indexOf(searchTerm) === -1){
                $(this).hide();
            }else{
                $(this).show();
            }
        });
    });
});
</script>


<div class="row">
        <h2 style="padding-left: 15Px">Clients Information</h2>
    </div>

    <div class="form-group pull-left">
    <input type="text" class="search form-control" placeholder="What are you looking for ?">
</div>
    <div>
        <table class="table table-striped table-bordered table-hover" id="userTbl">
            <thead>
            <tr class="bg-info">
                <th>Client Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>zipcode</th>
                <th>Email</th>
                <th>Cell Phone</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.client_number }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.city }}</td>
                    <td>{{ client.state }}</td>
                    <td>{{ client.zipcode }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.cell_phone }}</td>
                    <td><a href="{% url 'portfolio:client_edit' pk=client.pk %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;Edit
                    </a>
                    <td><a href="{% url 'portfolio:client_delete' pk=client.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row" style="padding-left: 15Px">
            <a href="{% url 'portfolio:client_new' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add Client</a>
        </div>
    </div>

    </body>
    </html>
{% endblock %}
