{% extends 'portfolio/base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Good Shepherd Food Pantry</title>

    </head>
    <body>

    <script>
    $(document).ready(function(){
        $('.search').on('keyup',function(){
            var searchTerm = $(this).val().toLowerCase();
            $('#userTbl tbody tr').each(function(){
                var lineStr = $(this).text().toLowerCase();
                if(lineStr.indexOf(searchTerm) === -1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
    });
    </script>

    <div class="row">
      <div class="row">
        <h2 style="padding-left: 15Px">Donors Information</h2>
    </div>
    <div class="form-group pull-left">
         <input type="text" class="search form-control" placeholder="Who are you looking for?">
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover" id="userTbl">
            <thead>
            <tr class="bg-info">
                <th>Donor Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State </th>
                <th>Zipcode</th>
                <th>Email</th>
                <th>Cell Phone</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for donor in donors %}
                <tr>
                    <td>{{ donor.donor_number }}</td>
                    <td>{{ donor.name }}</td>
                    <td>{{ donor.address }}</td>
                    <td>{{ donor.city }}</td>
                    <td>{{ donor.state }}</td>
                    <td>{{ donor.zipcode }}</td>
                    <td>{{ donor.email }}</td>
                    <td>{{ donor.cell_phone }}</td>
                    <td><a href="{% url 'portfolio:donor_edit' pk=donor.pk %}"
                           class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;Edit</a></td>
                    <td><a href="{% url 'portfolio:donor_delete' pk=donor.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     <div class="row" style="padding-left: 15px;">
            <a href="{% url 'portfolio:donor_new' %}" class="row"><span
                    class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Add Donor</span></a>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
