{% extends 'portfolio/base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Good Shepherd Food Pantry</title>

    </head>
    <body>

    <script>
    $(document).ready(function(){
        $('.search').on('keyup',function(){
            var searchTerm = $(this).val().toLowerCase();
            $('#userTbl tbody tr').each(function(){
                var lineStr = $(this).text().toLowerCase();
                if(lineStr.indexOf(searchTerm) === -1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
    });
    </script>

    <div class="row">
        <h2 style="padding-left: 15Px">Employees Information</h2>
    </div>
    <div class="form-group pull-left">
         <input type="text" class="search form-control" placeholder="Who are you looking for?">
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover" id="userTbl">
            <thead>
            <tr class="bg-info">
                <th>Employee Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Email</th>
                <th>Cell Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.emp_number }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.city }}</td>
                    <td>{{ employee.state }}</td>
                    <td>{{ employee.zipcode }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.cell_phone }}</td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
    </html>
{% endblock %}
