{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% block content %}
            {% if user.is_authenticated %}
                <div class="page-container">
                    <h2 class="hello">Hello {{ user.username|capfirst }},</h2>
                    <p>Welcome to the Good Shepherd Food Pantry System! Together we end hunger in Omaha!</p>

                </div>
            {% endif %}
            <div class="content container">
              <div class="row">
                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/client.jpg" %}" alt="Client" class="img-responsive"/>
                                  <h2>Clients</h2>
                                  <p>Add, edit, or delete clients</p>
                                  {% if user.is_authenticated %}
                                      <a class="btn btn-primary" href="{% url 'portfolio:client_list' %}"
                                            role="button">
                                           View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                      </a>
                                  {% endif %}
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/visit.jpg" %}" alt="Visits" class="img-responsive"/>
                              <h2>Visits</h2>
                              <p>Add, edit, or delete visits</p>
                              <a class="btn btn-primary" href="{% url 'portfolio:visit_list' %}"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </div>
                      </div>
                    </div>

                  <div class="col-sm-4 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/shop.jpg" %}" alt="Shop" class="img-responsive"/>
                              <h2>Shop</h2>
                              <p>Browse current inventory</p>
                              <a class="btn btn-primary" href="{% url "shop:product_list" %}"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="{% static "images/cart.jpg" %}" alt="Cart" class="img-responsive"/>
                                <h2>Cart</h2>
                                <p>Review selected products</p>
                                <a class="btn btn-primary" href="{% url "cart:cart_detail" %}"
                                       role="button">
                                    View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                              <img src="{% static "images/checkout.jpg" %}" alt="Checkout" class="img-responsive"/>
                                  <h2>Checkout</h2>
                                  <p>Inventory Management</p>
                                  <a class="btn btn-primary" href="{% url "orders:order_create" %}"
                                         role="button">
                                      View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                              </div>
                          </div>
                        </div>

                  <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/employees.jpg" %}" alt="Employee" class="img-responsive"/>
                              <h2>Employees</h2>
                              <p>View food pantry employees</p>
                              <a class="btn btn-primary" href="{% url 'portfolio:employee_list' %}"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/thedonor.jpg" %}" alt="Donor" class="img-responsive"/>
                              <h2>Donors</h2>
                              <p>View food pantry donors</p>
                              <p><a class="btn btn-primary" href="{% url 'portfolio:donor_list' %}" role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4 col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-body">
                          <img src="{% static "images/setting.jpg" %}" alt="Account Settings" class="img-responsive"/>
                              <h2>Settings</h2>
                              <p>Edit account settings</p>
                              <a class="btn btn-primary" href="{% url 'portfolio:account_settings_list' %}"
                                     role="button">
                                  View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                          </div>
                      </div>
                    </div>

                    <div class="col-sm-4 col-md-4">
                          <div class="panel panel-default">
                          <div class="panel-body">
                            <img src="{% static "images/notification.jpg" %}" alt="Pantry Notifications" class="img-responsive"/>
                            <h2>Alerts</h2>
                            <p>View pantry notifications</p>
                            <a class="btn btn-primary" href="{% url 'portfolio:notifications' %}"
                                   role="button">View Details &nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </div>
                    </div>
                  </div>

              </div>
{% endblock %}
