{% extends 'portfolio/base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Good Shepherd Food Pantry</title>

    </head>
    <body>

    <script>
    $(document).ready(function(){
        $('.search').on('keyup',function(){
            var searchTerm = $(this).val().toLowerCase();
            $('#userTbl tbody tr').each(function(){
                var lineStr = $(this).text().toLowerCase();
                if(lineStr.indexOf(searchTerm) === -1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
    });
    </script>

    <div class="row">
      <div class="row">
        <h2 style="padding-left: 15Px">Client Visit Information</h2>
    </div>
    <div class="form-group pull-left">
         <input type="text" class="search form-control" placeholder="What are you looking for?">
    </div>

    <div>
        <table class="table table-striped table-bordered table-hover" id="userTbl">
            <thead>
            <tr class="bg-info">
                <th>Client Number</th>
                <th>Employee Number</th>
                <th>Visit Number</th>
                <th>Visit Type</th>
                <th>Visit Date</th>
                <th>Status</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>

</thead>

            <tbody>
            {% for visit in visits %}
                <tr>
                    <td>{{ visit.client }}</td>
                    <td>{{ visit.employee }}</td>
                    <td>{{ visit.visit_number }}</td>
                    <td>{{ visit.visit_type }}</td>
                    <td>{{ visit.visit_date }}</td>
                    <td>{{ visit.status }}</td>
                    <td><a href="{% url 'portfolio:visit_edit' pk=visit.pk %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;Edit
                    </a>
                    <td>
                    <a href="{% url 'portfolio:visit_delete' pk=visit.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> &nbsp;Delete
                    </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                 <div class="row" style="padding-left: 15Px">
                    <a href="{% url 'portfolio:visit_new' %}" class="row"><span
                           class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> &nbsp;Record New Visit</span></a>
                 </div>
    </div>
    </body>
    </html>
{% endblock %}
