asn1crypto==0.22.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.2
dj-database-url==0.4.2
Django==1.11.2
django-appconf==1.0.2
django-autoconfig==0.7.1
django-bootstrap-form==3.2.1
django-closuretree==1.1.10
django-easyfilters==0.6
django-easyfilters-ex==0.7.0
django-filter==1.0.3
django-mysql==2.1.0
django-smart-selects==1.5.2
django-user-accounts==2.0.0
django-widget-tweaks==1.4.1
django-mathfilters==0.4.0
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
paho-mqtt==1.3.0
psycopg2==2.7.1
pycparser==2.18
pyOpenSSL==17.2.0
pysolr==3.6.0
pytz==2017.2
requests==2.18.2
simplejson==3.11.1
six==1.10.0
urllib3==1.22
watson-developer-cloud==0.26.1
whitenoise==3.3.0
yahoo-finance==1.4.0
Pillow==8.1.1
celery==3.1.18
