{% extends "portfolio/base.html" %}

{% block title %}
  Checkout
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Checkout</h2>
                    <div class="order-info">
                        <h3>Your order</h3>
                        <ul>
                          {% for item in cart %}
                            <ul>
                                <li role="presentation">{{ item.quantity }}x {{ item.product.name }}</li>
                            </ul>
                          {% endfor %}
                        </ul>
                    </div>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span class="text-danger small">{{ field.errors }}</span>
                                </div>
                                <label class="control-label col-sm-2" for="patient_title">{{ field.label_tag }}</label>
                                <div class="col-lg-8  col-md-10 col-sm-12">
                                    {{ field|add_class:"form-control"}}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> &nbsp;Place Order &nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
